[Desktop Entry]
Type=Application
Name=KRDP Isolated Probe
Exec=/opt/krdp-console/bin/krdpserver
NoDisplay=true
X-KDE-Wayland-Interfaces=org_kde_kwin_fake_input,zkde_screencast_unstable_v1
